<h3>List Students</h3>
<h3>Mark get Child = {{mark}}</h3>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mark</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let studentInfor of students">
    <td>{{studentInfor.id}}</td>
    <td>{{studentInfor.name}}</td>
    <td>{{studentInfor.age}}</td>
    <td>{{studentInfor.mark}}</td>
    <td>
      <button class="btn btn-outline-warning" (click)="setDetail(studentInfor)">Detail</button>
    </td>
  </tr>
  </tbody>
</table>
<app-student-detail [studentChild]="studentParent"
    (changeMarkChild)="getMark($event)"
></app-student-detail>
